langchain
python-dotenv
langchain-community
ipykernel
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain_openai
sentence-transformers
chromadb
langchain_huggingface
faiss-cpu
langchain_chroma
streamlit
langchain_groq
langserve
fastapi
pydantic>=2.0
duckduck-go-search
langchain_groq

